<div class="container">
    <div class="new-pet">

      <br>
      <h3> 撰寫公告內容 </h3>
      <hr>
    <br><br>
  <div class="back-bar">
  <%= link_to("← 回首頁", root_path, class: "underline") %>

  <%= link_to("看更多 #{@pet.category.name} 的工作 →", category_path(@category) , class: "underline pull-right") %>
  </div>
  <br><br>
        <div class="col-md-4 col-md-offset-4">
          <%= simple_form_for [@category,@pet] do |f| %>
            <div class="form-group">
              <%= f.input :title, label: "毛小孩的名字：", input_html: { class: "form-control"} %>
            </div>
            <div class="form-group"> 
              <%= f.input :category_id, label: "牠是：", collection: @categories.pluck(:name), selected: @category.name , input_html: {:onchange => "redirect_to(this.selectedIndex + 1)"} %>
            </div>
            <div class="form-group">
              <%= f.input :pettype, label: "品種：", input_html: { class: "form-control"} %>
            </div>
            <div class="form-group">
              <%= f.input :sexual, label: "性別：", collection: ["公","母"], selected: "公" %>
            </div>
            <div class="form-inline">
              <%= f.input :age_years, label: "年紀：", collection: 0..20, selected: 0, input_html: { style: 'width: 40px'}%>年
              <%= f.input :age_months, label: false, collection: 0..12, selected: 0, input_html: { style: 'width: 40px'}%>月
            </div><br>
            <div class="form-group">
              <%= f.input :size, label: "體型：", collection: ["大型","一般","小型"], selected: "一般" %>
            </div>
            <div class="form-group">
              <%= f.input :ligation, label: "結紮：", collection: ["已結紮","無結紮"], selected: "已結紮" %>
            </div>
            <div class="form-group">
              <%= f.input :description, label: "補充說明：", input_html: { class: "form-control"} %>
            </div>
            <div class="form-group">
              <%= f.input :qualification, label: "認養資格：", input_html: { class: "form-control"} %>
            </div>
            <div class="form-group">
            <%= f.input :location, label: "我們在：", collection: ["台北","桃園","新竹","宜蘭","苗栗","台中","彰化","南投","花蓮","台東","雲林","嘉義","台南","高雄","屏東"], selected: "台中" %>
            </div>
            <div class="form-group">
                <%= f.simple_fields_for :photo do |p| %>
                <%= p.input :image, as: :file, label: "毛小孩的照片："%>
                <% end %>
            </div>
            <br><br>
            <h4>聯絡資訊</h4>
            <div class="form-group">
                <%= f.input :owner_name, label: "稱呼：", input_html: { class: "form-control"} %>
                <%= f.input :phone, label: "聯絡電話：", input_html: { class: "form-control"} %>
                <%= f.input :email, label: "電子郵件：", input_html: { class: "form-control"} %>
            </div>
            <div class="form-actions">
              <%= f.submit "確認張貼", disable_with: "Submiting...", class: "btn btn-primary"%>
            </div>
          <% end %>
        </div>
    </div>
</div>

<%= javascript_tag do %>
  function redirect_to(id){
     window.location = "/categories/" + id + "/pets/new";
  } 
<% end %>
